{% extends 'base.html.twig' %}

{# templates/security/login.html.twig #}
{# ... you will probably extend your base template, like base.html.twig #}

{% block body %}

    {#{% if error %}
        <div class="alert alert-warning" data-dismiss="alert" role="alert">
            {{ error.messageKey|trans(error.messageData, 'messages') }}
        </div>
        <script>
            $(document).ready(function(){
                $(".alert").fadeTo(5000, 500).slideUp(500, function(){
                    $(".alert").slideUp(500); 
                 });
            });
            
        </script>
    {% endif %}#}

    <h1 class="form-heading">Login Form</h1>
    <div class="login-form">
        <div class="main-div">
            <div class="panel">
                <h2>Login</h2>
                <p>Voer je gebruikersnaam en wachtwoord in.</p>
            </div>
            <form id="Login" action="{{ path('login') }}" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" name="_username" id="_username" value="{{ last_username }}" placeholder="Gebruikersnaam" />
                </div>
                <div class="form-group">
                     <input type="password" class="form-control" id="_password" name="_password" placeholder="Wachtwoord" />
                </div>
                <div class="forgot">
                    <a href="{#{{ path('password_reset') }} #}">Wachtwoord vergeten?</a>
                </div>
                    <button type="submit" class="btn btn-primary">Log in</button>
            </form>
        </div>
    </div>

    <!--<form action="{{ path('login') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" />

        {#
            If you want to control the URL the user
            is redirected to on success (more details below)
            <input type="hidden" name="_target_path" value="/account" />
        #}

        <button type="submit">Login</button>
    </form>-->
{% endblock %}